*.gif -text
*.ico -text
*.jpeg -text
*.jpg -text
*.mp4 -text
*.pdf -text
*.png -text
*.webp -text
*.zip -text

assets/videos/everything-yet-nothing-frames/ezgif-2e7badc1534383cd-png-split.zip filter=lfs diff=lfs merge=lfs -text
